
body {
    background-color: rgb(228,231,232);
}

h1 {
    color: rgb(117,191,255);
    text-align: center;
}

p {
    font-family: "Times New Roman";
    font-size: 20px;
}

a { color: rgb(44,96,141) }

 /* unvisited link */
a:link {
    color: rgb(44,96,141);
}

/* visited link */
a:visited {
    color: rgb(44,96,141);
}

/* mouse over link */
a:hover {
    color: rgb(117,191,255);
}


}

